.node {
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: #FBF5E5;

    &-start {
        background-color: #212121 !important;
        &::before {
            content: "\229A";
            display: flex;
            justify-content: center;
            color: white;
        }
    }

    &-destination {
        background-color: red !important;
    }

    &-wall {
        background-color: #A35C7A;
        animation-name: shortestpath;
        animation-duration: 1s;
    }

    &-weight {
        &::before {
            display: inline-flex;
            content: 'W';
            height: 25px;
            width: 25px;
        }
    }

    &-visited {
        background-color: #98D8EF;
        animation-name: visitednode;
        animation-duration: 0.5s;
    }   

    &-path {
        background-color: #212121;
        animation-name: shortestpath;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    &-current {
        background-color: purple;
        outline: 1px solid white;
        border-radius: 50%;
    }

    @keyframes shortestpath {
        0% {
            transform: scale(1);
        }
        25% {
            transform: scale(1.2);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes visitednode {
    0%   {
        transform: scale(0.5);
        background-color: #7AB2D3;
    }
    25%  {
        transform: scale(1.2);
        background-color: #B9E5E8;
    }
    50%  {
        transform: scale(0.5);
        background-color: #DFF2EB;
    }
    100% {
        transform: scale(1);
        background-color: #98D8EF;
    }
    }
}

