.grid-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}

.canvas-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
